ecommerce_warehouse:
  target: mssql
  outputs:
    mssql:
      type: sqlserver
      driver: 'ODBC Driver 18 for SQL Server'
      server: "{{ env_var('MSSQL_SERVER', 'localhost') }}"
      port: "{{ env_var('MSSQL_PORT', '1433') | int }}"
      database: "{{ env_var('MSSQL_DB', 'warehouse') }}"
      schema: dbo
      user: "{{ env_var('MSSQL_USER', 'sa') }}"
      password: "{{ env_var('MSSQL_PASSWORD', 'P@ssword#@219#') }}"
      trust_cert: true
      threads: 4

    postgres:
      type: postgres
      host: "{{ env_var('POSTGRES_HOST', 'localhost') }}"
      user: "{{ env_var('POSTGRES_USER', 'postgres') }}"
      password: "{{ env_var('POSTGRES_PASSWORD', 'postgres') }}"
      port: "{{ env_var('POSTGRES_PORT', '5432') | int }}"
      dbname: "{{ env_var('POSTGRES_DB', 'warehouse') }}"
      schema: public
      threads: 4
